body {
  background-color: #0f0f0f;
  margin: 0;
}
#nav {
  display: flex;
  height: 80px;
  width: auto;
}
#menu_icon {
  width: 20px;
  height: 20px;

}
#menu {
  margin-top: 12px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding:10px;
  display: inline-block;
  border: transparent solid 1px;
  border-radius: 100px;
  align-content: center;
  justify-content: center;

}
#menu:hover{
  background-color: #272727;
}

#yt_icon {
  /* margin-right: 20px; */
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

#yt_title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-weight: lighter;
  display: inline-block; /* use flexbox for horizontal alignment */
  align-items: center; /*vertically align items */
  margin-left: 5px;
  padding: 15px;
 
}

#search {
  display: inline-block;
  align-content: center;
  justify-content: center;
  margin-left: 200px;
  height: 50px;
  
}
#search_form{
  padding:10px;
  display:flex ;
}
#search_bar {
  width: 550px;
  height: 40px;
  vertical-align: middle;
  border: solid grey 1px;
  border-radius: 50px;
  background-color: #121212;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color:white;
  font-size: 20px;
}
#search_bar::placeholder {
  padding: 15px;
  font-size: 20px;
}

#submit_search_btn{
  width:75px ;
background-color: #222222;
border: solid grey 1px;
border-radius: 50px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
background-image: url('search.png');
background-repeat: no-repeat;
background-size:37px;
background-position-x: center;
color: transparent;
cursor: pointer;
}

#notification_icon{
  width: 25px;
  height: 25px;
  position: absolute;
  top:23px;
  margin-left: 365px;
}
#notfication{
  padding: 20px;
  display: inline-block;
}


#user_icon{
  width: 25px;
  height: 25px;
  position: absolute;
  top:23px;
  margin-left: 390px;
}
#user{
  padding: 20px;
  display: inline-block;
}

